*
{
    margin: 0;
    padding: 0;
}
body
{
font-family: Arial, Helvetica, sans-serif;
}
.start
{
    height: 580px;
    width: 100%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    border-bottom: 3px solid yellow;
}
.start p 
{
    padding-top: 250px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.mission
{
    height: 110px;
    width: 100%;
    background-color: #132E77;
    text-align: center;
    color: #ffffff;
    padding-top: 29px;
    border-bottom: 2px solid  yellow;
}
.mission p
{
    padding-top: 12px;
}
.services
{
    height: 350px;
    width: 100%;
    background-color: #132E77;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    border-bottom: 2px solid yellow;
}
.rows1
{
    font-size: 25px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 2em;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding-top: 30px;
    margin: 12px 0 12px 0;
}
.first
{
    height: 380px;
    width: 100%;
    background-color: #132E77;
    color: #ffffff;
}
.first p
{

    font-size: 21px;
    
}
.pic
{
    padding-top: 15px;
    padding-left: 40px;
}
footer
{
    padding-top: 5px;
    height: 100px;
    width: 100%;
    background-color: black;
}

/*Media Query*/
@media (max-width: 760px)
{
    .services
    {
        height: 1100px;
    }
    .rows1
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*
 <p>EmmanCCTV Services was founded on April 9 2018 at 022 Sitio Kanluran, Brgy. Palaypalay
                            Jala-jala.  By John Emmanuel Gardon  serving as an CCTV installation service and computer 
                            repair and thru To this day EmmanCCTV now has hundreds of clients receiving the not only  best quality CCTV
                            service but also computer repair service.</p>/