@charset "UTF-8";
/*Utilities*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Media Querys*/
/*Screen Breakpoints*/
/*Notes
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
/*Map of Screen Sizes*/
/*
 "mobile-sm":0px,
  "mobile": 480px,
  "tablet-sm": 481px,
  "tablet-md": 768px,
  "screen-sm": 769px,
  "screen-xm": 812px,
  "screen-md": 1024px,
  "screen-lg": 1025px,
  "screen-xl": 1270px,
  */
/*Media Query Diff Screens Portrait*/
/*0 to 480px*/
/*481 to 768px*/
/*769 to 1024px*/
/*1025 to 1270px*/
/*Media Query Diff Screens Landscape*/
/*480 to 812px*/
/*Navbar*/
.img-property, .clients-tab .client1,
.clients-tab .client2,
.clients-tab .client3 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img-property2, .img-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Components*/
.boxes, .clients-tab .client1,
.clients-tab .client2,
.clients-tab .client3, .box1,
.box2 {
  height: 200px;
  width: 350px;
  border: 1px solid black;
}

.boxes-about {
  height: 170px;
  width: 1100px;
  border: 1px solid black;
}

/*Media Queries*/
@media (max-width: 30em) {
  .boxes, .clients-tab .client1,
  .clients-tab .client2,
  .clients-tab .client3, .box1,
  .box2 {
    width: 300px;
  }
}

@media (min-width: 30.0625em) and (max-width: 48em) {
  .boxes, .clients-tab .client1,
  .clients-tab .client2,
  .clients-tab .client3, .box1,
  .box2 {
    width: 400px;
    padding: 10px;
  }
}

@media (min-width: 48.0625em) and (max-width: 64em) {
  .boxes, .clients-tab .client1,
  .clients-tab .client2,
  .clients-tab .client3, .box1,
  .box2 {
    width: 350px;
    padding: 10px;
  }
}

#btn-send {
  height: 50px;
  width: 160px;
  color: #ffffff;
  background-color: #2874A6;
  border: none;
}

#txt {
  height: 35px;
  width: 100%;
  resize: vertical;
}

#txt::placeholder {
  padding: 10px;
}

#txt-msg {
  width: 100%;
  resize: none;
}

#txt-msg::placeholder {
  margin: 10px;
  padding: 10px;
}

/*Media Query**/
@media (max-width: 30em) {
  .txt-fields, .txt-area {
    width: 100%;
    padding: 10px;
  }
  .btn-class {
    padding: 10px;
  }
}

@media (min-width: 30.0625em) and (max-width: 48em) {
  .txt-fields, .txt-area {
    width: 100%;
    padding: 10px;
  }
  .btn-class {
    padding: 10px;
  }
}

/*Layouts*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132E77;
  border-bottom: 2px solid black;
}

.navbar .company-name {
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  margin-right: auto;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar .links {
  text-decoration: none;
  color: #ffffff;
}

.navbar .links:hover {
  color: yellow;
  border-bottom: 2px solid yellow;
}

.toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

/*Media Query Mobile*/
@media (min-width: 0px) and (max-width: 64em) {
  .toggle {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-links.active {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer {
  height: 40px;
  color: #ffffff;
  background-color: black;
  padding: 5.7px;
  padding-top: 10px;
  font-size: 0.87rem;
  border-top: 0.06rem solid white;
  text-align: center;
  background-color: grey;
  color: #ffffff;
}

/*Pages*/
.main {
  height: 100vh;
  background-image: url(../img/betlog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-container {
  padding-top: 200px;
  text-align: center;
  color: #ffffff;
  font-size: 26px;
}

.intro-container h2, .intro-container p {
  margin: 10px;
}

.intro-container .btn-home {
  height: 45px;
  width: 150px;
  color: #ffffff;
  border: none;
  background-color: #020405;
}

/*Media Query*/
@media (max-width: 30em) {
  .intro-container {
    font-size: 16px;
  }
}

/*Landscape*/
@media (min-width: 0px) and (max-width: 50.75em) and (orientation: landscape) {
  .main {
    height: 37.5em;
  }
  .intro-container {
    font-size: 19px;
  }
}

.img-logo {
  height: 400px;
  width: 100%;
  background-image: url(../img/first.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-logo h1 {
  color: white;
}

.about {
  text-align: center;
  padding: 20px;
}

.about-container {
  height: 100px;
}

.introduction {
  display: flex;
  justify-content: center;
}

.introduction .text {
  line-height: 1.5;
}

.client-heading {
  text-align: center;
  padding: 30px 0 15px 0;
}

.clients-tab {
  height: 258px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
}

.clients-tab .client1 {
  background-image: url(../img/generics.png);
}

.clients-tab .client2 {
  background-image: url(../img/tv5.png);
}

.clients-tab .client3 {
  background-image: url(../img/water.png);
}

/*Media Queries*/
@media (max-width: 48em) {
  .clients-tab {
    height: 700px;
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 48em) and (max-width: 64em) {
  .clients-tab {
    height: 700px;
    grid-template-columns: repeat(1, auto);
  }
}

.contact-container {
  height: 12.5rem;
  background-color: #1c2833;
  text-align: center;
}

.contact-container h2 {
  padding: 20px;
  color: #ffffff;
}

.contact-form {
  min-height: 25rem;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #fdfefe;
}

.contact-form .txt-fields {
  display: inline-block;
}

.contact-form .txt-area {
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
}

.office {
  height: 327px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}

.box1 p,
.box2 p {
  font-size: 15px;
  padding: 10px;
}

.box1 h3,
.box2 h3 {
  padding: 10px;
}

.box1 .fas,
.box2 .fas {
  padding: 0;
  margin: 0;
}

/*Media Query*/
@media (max-width: 30em) {
  .contact-container {
    min-height: 15.625em;
  }
  .contact-form {
    height: 31.25em;
    padding-bottom: 10px;
  }
  .office {
    min-height: 28.125em;
    padding-top: 20px;
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 30.0625em) and (max-width: 48em) {
  .contact-form {
    min-height: 31.25em;
  }
  .office {
    height: 28.125em;
    padding-top: 20px;
    grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 48.0625em) and (max-width: 64em) {
  .contact-form {
    height: 20.625em;
  }
  .office {
    padding-top: 20px;
    height: 13.75em;
    grid-template-columns: repeat(2, auto);
  }
}

.services-intro {
  height: 25rem;
  width: 100%;
  color: #f4f4f4;
  background-image: url(../img/services.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-intro h2 {
  font-size: 3.125rem;
}

.services {
  height: 31.25rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
}

.fas {
  padding: 30px 0 30px 0;
}

/*Media Queries*/
/*480px*/
@media (max-width: 30em) {
  .services-intro h2 {
    font-size: 27px;
  }
  .services {
    /*1370px*/
    height: 85.625em;
    max-width: 100%;
    font-size: 18px;
    grid-template-columns: repeat(1, auto);
  }
}

/*481px to 768px*/
@media (min-width: 30.0625em) and (max-width: 48em) {
  .services {
    /*1380px*/
    height: 86.25em;
    grid-template-columns: repeat(1, auto);
  }
}

/*769px to 1024px*/
@media (min-width: 48.0625em) and (max-width: 64em) {
  .services {
    /*875px*/
    height: 54.6875em;
    grid-template-columns: repeat(2, auto);
  }
}

/*1025px to 1270*/
@media (min-width: 64.0625em) and (max-width: 79.375em) {
  .services {
    /*740px*/
    height: 46.25em;
    grid-template-columns: repeat(2, auto);
  }
}
/*# sourceMappingURL=style.css.map */