body
{
    margin: auto;
}

header #logo
{
    float: left;
    padding-left: -50px;
}
header #logo h1
{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 25px;
}
header 
{
    min-height: 60px;
    background-color: #132E77;
    color: #ffffff;
    border-bottom: 2px solid #132E77;
    position: fixed;
    width: 100%;
    z-index: 3;
}
/*header a
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}*/
header ul
{
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    list-style: none;
}
header li a 
{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.6;
}

/*header nav{
    padding-top: 20px;
    float: right;
    padding-right: 10px;
}*/
header a:hover
{
    color:yellow;
}

/*Hamburger*/
header li a:hover,
header .menu-btn:hover 
{
   
}
header .menu
{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

header .menu-icon .navicon
{
    background: yellow;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    user-select: none;
    width: 18px;
}
header .menu-icon .navicon:before,
header .menu-icon .navicon:after
{
    background: yellow;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
header .menu-icon .navicon:before
{
    top: 5px;
}
header .menu-icon .navicon:after
{
top: -5px;
}

header .menu-btn
{
    display: none;
}
header .menu-btn:checked ~ .menu
{
    max-height: 240px;
}
header .menu-btn:checked ~ .menu-icon .navicon
{
    background: transparent;
}
header .menu-btn:checked ~ .menu-icon .navicon:before
{
    transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .navicon:after
{
    transform: rotate(45deg);
}
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after 
{
  top: 0;
}
@media (min-width: 40em)
{
    header li
    {
        float: left;
    }
    header li a
    {
        padding: 20px 30px;
    }
    header .menu
    {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon
    {
    display: none;
    }
}