*
{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/**/
.first
{
    background-image: url(../img/camera.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border-bottom: 2px solid #132E77;
}
.first h1
{
text-align: center;
}
.email
{
    height: 240px;
    width: 100%;
    background-color: #132E77;
    color:#ffffff;
}
.email h4
{
    padding-top: 30px;
    text-align: center;
}
.box1
{
font-size: 20px;
}
.box2
{
    font-size: 20px;
}
.box3
{
    font-size: 20px;
}
footer
{
    padding-top: 5px;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
/*Grid*/
.rows
{
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
}
/*Utilities*/
input[type="button"]
{
    margin-top: 20px;
    height: 36px;
    width: 12%;
    background-color: yellow;
    color: black;
    border: none;
    transition: 0.4s;
}
input[type="button"]:hover
{
    margin-top: 20px;
    height: 36px;
    width: 12%;
    background-color: yellow;
    font-weight: bold;
    color: black;
    border: none;
    transition: 0.4s;
}
@media (max-width: 760px)
{
.email
{
    height: 600px;
}
.rows
{
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2.3;
}
}


